<%= form_with model: match do |form| %>
  <div>
    <%= form.label :serial %><br>
    <%= form.number_field :serial %>
    <% match.errors.full_messages_for(:serial).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>