<h1>Here matches will be</h1>

<ul>
    <% @matches.each do |match| %>
        <li>
            <%= link_to match.serial, match %> | Score <%= match.score_radiant %>-<%= match.score_dire %>
        </li>
    <% end %>
</ul>

<%= link_to "Heroes", heroes_path %>
<%= link_to "Add Match", new_match_path %>