<h1>Here matches will be</h1>
<h4>Total matches: <%= @matches.count %></h4>

<%= render 'players' %>

<%= render 'matches', matches: @matches.first(10)%>

<div class="achievments">
    <div class="category">
        <h5>Best killer</h5>
        <img src="">
    </div>
</div>

<%= link_to "Heroes", heroes_path %>
<%= link_to "Add Match", new_match_path %>