<h1>Here matches will be</h1>

<h3>Достижения недели</h3>
<div class="achievements">
    <%= render 'category', best: @best[:kills], name: "Убийца" %>
    <%= render 'category', best: @best[:assists], name: "Помощник" %>
    <%= render 'category', best: @best[:deaths], name: "Неубиваемый" %>
</div>

<%= render 'players' %>

<%= render 'matches', matches: @matches %>

<%= link_to "Heroes", heroes_path %>
<%= link_to "Add Match", new_match_path %>