<h1>New Match</h1>

<%= form_with model: @match do |form| %>
  <div>
    <%= form.label :serial %><br>
    <%= form.number_field :serial %>
    <% @match.errors.full_messages_for(:serial).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :score_radiant %><br>
    <%= form.number_field :score_radiant %>
    <% @match.errors.full_messages_for(:score_radiant).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :score_dire %><br>
    <%= form.number_field :score_dire %>
    <% @match.errors.full_messages_for(:score_dire).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

