<h1>Match #<%= @match.serial %></h1>

<p><%= @match.score_radiant %>-<%= @match.score_dire %></p>

Started at: <%= @match.start_time ? @match.start_time : 'NO INFO' %> <br>
Time: <%= @match.duration ? "#{@match.duration / 60}:#{@match.duration % 60}" : '0:00' %>

<h4>Radiant:</h4>
<% @match.match_stats.all.each_with_index do |player_stat, i| %>
  <% if i == 5 %>
    <h4>Dire:</h4>
  <% end %>
  <li>
    <%= player_stat.account ? link_to(player_stat.account.username, player_stat.account) : 'Аноним' %> | <%= player_stat.hero.name_en %> - <%= player_stat.kills %>/<%= player_stat.deaths %>/<%= player_stat.assists %> 
  </li>
<% end %>

<%= link_to "Edit", edit_match_path(@match) %>
<li><%= link_to "Destroy", match_path(@match), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>

<%= link_to "Home", root_path %>