<h1>Account #<%= @account.steamID32 %> - <%= @account.username %></h1>
<img src=<%= @account.avatar_url %> class="avatar_full">


<%= render 'players' %>

<% unless @account.matches? %>
    <p>Player doesn't have matches </p>
<% else %>
    <h3>Week stat:</h3>
    <% unless @week_matches %>
        <p>There is no matches on this week</p>
    <% else %>
        <h4>Matches: <%= @week_matches.count %></h4>
        <p>Avg stat: <%= @week_avg[:kills] %>/<%= @week_avg[:deaths] %>/<%= @week_avg[:assists] %></p>

        <h4>Hero of the week</h4>
        <img src=<%= @account.get_popular_hero_for_week.avatar_url %> class="match_hero">
    <% end %>

    <br>
    <h3>Global stat:</h3>
    <h4>Matches: <%= @account.match_stats.count %></h4>
    <p>Avg stat: <%= @global_avg[:kills] %>/<%= @global_avg[:deaths] %>/<%= @global_avg[:assists] %></p>


    <% avg_stat = ((@global_avg[:kills] * 2 + @global_avg[:assists]) / (@global_avg[:deaths] * 1.5)).round(0) %>

    <table class="match_table">
        <tr>
            <td>Match</td>
            <td>Hero</td>
            <td></td>
            <td>KDA</td>
        </tr>
    <% @account.match_stats.first(15).each do |match_stat| %>
    <% stat = ((match_stat.kills * 2 + match_stat.assists) / (match_stat.deaths * 1.5)).round(1) %>
        <% if (match_stat.match.radiant_win && match_stat.match.match_stats.all.find_index(match_stat) < 5) || (!match_stat.match.radiant_win && match_stat.match.match_stats.all.find_index(match_stat) >= 5) %>
        <tr class="score_up">
        <% else %>
        <tr class="score_down">
        <% end %>
            <td><%= link_to "#{match_stat.match.serial} (#{match_stat.match.score_radiant}-#{match_stat.match.score_dire})", match_stat.match %></td>
            <td>
                <img src=<%= match_stat.hero.avatar_url %> class="match_hero">
            </td>
            <td><%= match_stat.hero.name_en %></td>
            <td><%= match_stat.kills %>/<%= match_stat.deaths %>/<%= match_stat.assists %> | <%= stat > avg_stat ? image_tag("arrow_up.svg", class: "icon_small") : image_tag("arrow_down.svg", class: "icon_small") %></td>
        <tr>
    <% end %>
    </table>
<% end %>
<%= link_to "Update Matches", update_matches_path %>
